Operating System: {{ ansible_distribution }}
Ipddr: {{ ansible_default_ipv4.address }}
Hostname: {{ ansible_nodename }}
Author: {{ myname }}
Current Time: {{ myvar2.stdout }}
Uptime: {{ myvar.stdout }}
